@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* NavBar Section---- */

.nav-links {
  display: flex;
  align-items: center;
  background-color: #6f4238;
  border-radius: 7px;
}

.root-nav.hide,
.root-nav-dropDown.hide {
  display: none !important;
}

.root-nav.show,
.root-nav-dropDown.show {
  display: flex !important;
}

.root-nav {
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  text-decoration: none;
  color: rgb(205, 196, 189);
  position: relative;
  transition: color 0.3s ease-in-out;
  padding: 8px 15px;
}

.root-nav::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 3px;
  left: 0;
  background-color: rgb(205, 196, 189);
  transition: width 0.3s ease-in-out;
}

.root-nav:hover {
  border-radius: 7px;
  color: #6f4238;
  background-color: rgb(205, 196, 189);
}

.root-nav.active {
  color: #6f4238;
  border-radius: 7px;
  background-color: rgb(205, 196, 189);
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.dropdown-menu {
  position: fixed;
  top: 87px;
  left: 0;
  right: 0;
  z-index: 1000;
  animation: slideFromLeft 0.5s ease-in-out;
  animation: slideToRight 0.5s ease-in-out;
  min-height: fit-content;
  max-height: calc(100vh - 60px);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;

  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: transparent;
  }
}

@keyframes slideFromLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideToRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.nav-link-dropDown {
  display: flex;
  gap: 40px;
  flex-direction: column;
  background-color: rgb(219, 188, 160);
  padding: 40px 20px 40px 20px;
  width: 100%;
  height: 100vh;
  border-bottom: 1px solid rgb(48, 31, 21);
}

.root-nav-dropDown {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 23px;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease-in-out;
  color: rgb(48, 31, 21);
}

.root-nav-dropDown:hover {
  color: #ffffff;
}

.nav-link-dropDown > span {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(111, 66, 56);
  border: 1.5px solid rgb(111, 66, 56);
  padding: 8px 12px;
  border-radius: 20px;
  width: 6rem;
  font-size: 14px;
  font-weight: 600;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
}

/* Error Page Section---- */

#err-msg {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
}

.err-msg {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 18px;
  border: 1px solid rgb(219, 188, 160);
  padding: 15px;
  text-align: center;
  margin-top: 20px;
}

.error-page-main {
  background-color: rgb(219, 188, 160);
  color: rgb(48, 31, 21);
  padding: 5rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.error-page-main > h1 {
  font-size: 30px;
}

.error-back-btn-link > button {
  cursor: pointer;
  padding: 13px 25px;
  background-color: rgb(48, 31, 21);
  color: rgb(219, 188, 160);
  border: 1px solid rgb(48, 31, 21);
  transition: 0.4s ease-in-out;
  border-radius: 4px;
}

.error-back-btn-link > button:hover {
  background-color: rgb(219, 188, 160);
  color: rgb(48, 31, 21);
  border: 1px solid rgb(48, 31, 21);
}

/* Cart and profile Section--- */
/* Cart-- */

.cart-parent {
  background: linear-gradient(670deg, rgb(48, 31, 21), rgb(219, 188, 160));
  padding: 2rem 3rem 5rem 3rem;
  font-family: "lato", sans-serif;
  min-height: 100vh;
  color: rgb(48, 31, 21);
}

.cart-parent > h1 {
  margin: 40px 0 40px 25px;
  font-family: "manrope", sans-serif;
}

.cart-parent > h3 {
  display: flex;
  justify-content: right;
  color: rgb(205, 196, 189);
  margin: 30px 0;
}

.cart-list {
  display: grid;
  grid-template-columns: 30% 8% 5% 12% 5%;
  align-items: center;
  gap: 15px;
  list-style: none;
  margin: 20px 0;
  border-bottom: 1.8px solid #000000;
}

.cart-list div {
  display: flex;
  gap: 20px;
}

.cart-list div > h3 {
  font-size: 20px;
}

.cart-list > h4 {
  font-size: 14px;
}

.cart-list > span {
  cursor: pointer;
  padding: 5px 8px;
  border: none;
  border-radius: 8px;
  background-color: rgb(48, 31, 21);
  color: rgb(219, 188, 160);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  width: fit-content;
}

.cart-twin-btn {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.cart-twin-btn > button {
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 8px;
  background-color: rgb(48, 31, 21);
  color: rgb(219, 188, 160);
  padding: 12px;
  transition: all 0.2s ease-in-out;
}

.add-to-cart-btn {
  color: initial;
  background-color: initial;
}

.add-to-cart-btn.active {
  color: rgb(48, 31, 21);
  background-color: rgb(219, 188, 160);
  border: 1px solid rgb(48, 31, 21);
}

#cart-twin-btn-id > button {
  padding: 8px 12px;
  margin-bottom: 5px;
}

#cart-twin-btn-id > button:hover {
  background-color: red;
  color: #ffffff;
}

.root-nav-cart-profile-icon-parent {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-family: "Raleway", sans-serif;
  font-size: 23px;
}

.cart-profile-icon-navlink-parent {
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  color: rgb(48, 31, 21);
}

.cart-profile-icon-navlink-parent:hover {
  color: #ffffff;
}

.cart-num {
  display: flex;
  align-items: center;
  gap: 1px;
  text-decoration: none;
}

.cart-num > sup {
  font-family: "Manrope", sans-serif;
  position: relative;
  border: none;
  padding: 1px 4px;
  border-radius: 50%;
  background-color: red;
  color: #ffffff;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 11px;
}

/* Cart Summary--- */

.cart-summary-parent {
  padding: 3rem 5rem;
  background: linear-gradient(260deg, rgb(48, 31, 21), rgb(219, 188, 160));
  min-height: 100vh;
}

.cart-summary-parent > h1 {
  margin: 40px 0 40px 25px;
  font-family: "manrope", sans-serif;
}

.notification-msg {
  font-family: "Raleway", sans-serif;
}

.summary-list {
  list-style-type: decimal;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  margin-bottom: 30px;
}

.summary-list-item > h3 {
  margin-bottom: 10px;
  font-family: "Lato", sans-serif;
  font-size: 17px;
}

.summary-list-item > div > p {
  margin: 0 0 5px 5px;
  font-family: "Lato", sans-serif;
  font-size: 15px;
}

.summary-list-item {
  width: 100%;
}

.summary-list-item > img {
  width: 70%;
  height: 20vh;
  object-fit: fill;
  border-radius: 8px;
  margin-bottom: 5px;
}

.summary-details {
  font-family: "Manrope", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 30px;
}

.summary-details > h3 {
  font-size: 16px;
  font-weight: 600;
}

.summary-details > h2 {
  margin: 15px 0;
  font-size: 20px;
  border-bottom: 1.5px solid #000000;
}

/* Checkout Form Section ------ */

.checkout-form-parent {
  background-color: rgb(205, 196, 189);
  padding: 2rem 5rem 4rem 5rem;
  min-height: 100vh;
}

.checkout-form {
  width: 50%;
}

.checkout-form > h2 {
  font-family: "Lato", sans-serif;
  margin-bottom: 25px;
}

#checkout-input-grp {
  margin-bottom: 10px;
}

#checkout-input-grp > label {
  color: #000000;
  font-size: 15px;
}

#checkout-input-grp > input {
  color: #000000;
  font-size: 18px;
}

.success-alert-box {
  width: 50%;
  margin-top: 15px;
}

/* Payment Status Section ---- */

.payment-status-parent {
  padding: 2rem 5rem 4rem 5rem;
  background-color: rgb(205, 196, 189);
  min-height: 100vh;
}

#payment-order-update {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 600;
  font-style: italic;
  text-align: center;
  margin-top: 4em;
}

.payment-success-error-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* HeroSection--- */

.hero-section {
  background-color: rgb(48, 31, 21);
  padding: 4rem 0rem 5rem 5rem;
  display: flex;
  width: 100%;
}

@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.image-container {
  width: 50%;
  height: auto;
  overflow: hidden;
}

.image-container > img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  animation: rotate360 2s ease-in-out;
}

.hero-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: start;
  justify-content: center;
  padding: 0 0 0 1rem;
}

.hero-text > h2 {
  font-family: pompiere, sans-serif;
  font-size: 50px;
  font-weight: 400;
  color: rgb(205, 196, 189);
}

.hero-text > h3 {
  font-family: galada, sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
}

/* ChooseCoffee Section--- */

.chooseCoffee-parent {
  font-family: "Raleway", sans-serif;
  background-color: rgb(219, 188, 160);
  color: rgb(48, 31, 21);
  padding: 3rem 5rem;
  width: 100%;
  display: flex;
  gap: 30px;
  border-bottom: 1px solid rgb(48, 31, 21);
}

.chooseCoffee-video-container {
  display: block;
  width: 50%;
}

.chooseCoffee-video-container > video {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.chooseCoffee-textHolder {
  width: 50%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-x: hidden;
}

.chooseCoffee-textHolder > h4 {
  font-size: 20px;
  font-weight: 800;
}

.chooseCoffee-textHolder > h3 {
  font-family: "Manrope", sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.chooseCoffee-textHolder > p {
  font-size: 22px;
  font-weight: 400;
}

.chooseCoffee-textHolder > span {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Featured Product--- */

.featuredProduct-container {
  padding: 3rem 5rem;
  background-color: rgb(48, 31, 21);
  color: rgb(219, 188, 160);
  font-family: "Raleway", sans-serif;
}

.featuredProduct-container > h2 {
  font-size: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.featuredProduct-container > h3 {
  font-size: 18px;
  text-align: center;
}

.featured-products-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 15px;
  margin-top: 30px;
}

.featured-prod-info {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgb(219, 188, 160);
  color: rgb(48, 31, 21);
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
}

.featured-prod-info > h2 {
  font-size: 1.3em;
}

.ft-prod-img {
  width: 100%;
}

.ft-prod-img > img {
  width: 100%;
  height: auto;
  object-fit: fill;
}

.ft-view-btn {
  cursor: pointer;
  border: 1px solid rgb(219, 188, 160);
  border-radius: 8px;
  background-color: rgb(48, 31, 21);
  color: rgb(219, 188, 160);
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.ft-navLink {
  text-decoration: none;
}

/* Discovery Section---- */

.discover-parent {
  background-color: rgb(219, 188, 160);
  color: rgb(48, 31, 21);
  padding: 3rem 4rem;
  display: flex;
  gap: 50px;
  width: 100%;
}

.discover-image-container {
  width: 30%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.discover-image-container > img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.discover-textInfo {
  font-family: "Manrope", sans-serif;
  width: 70%;
}

.discover-textInfo > h2 {
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 10px;
}

.discover-textInfo > h4 {
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 20px;
}

.readMore-textParent {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 13px;
  overflow-x: hidden;
}

.readMore-textParent > p {
  font-family: "Manrope", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
}

.readMore-textParent > span {
  font-weight: 800;
  font-size: 18px;
}

.discover-btn {
  cursor: pointer;
  width: fit-content;
  border-radius: 12px;
  font-size: 17px;
  font-weight: 400;
  color: rgb(219, 188, 160);
  background-color: rgb(48, 31, 21);
  border: none;
  padding: 8px;
  text-decoration: none;
  margin-top: 20px;
}

.readMore-textParent > h4 {
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 20px;
}

#discoverInfo-id {
  padding: 3rem 4rem;
  background-color: rgb(219, 188, 160);
  color: rgb(48, 31, 21);
}

/* ProsOfShopping Section --- */

.pros-parent {
  font-family: "Manrope", sans-serif;
  background-color: rgb(48, 31, 21);
  color: rgb(205, 196, 189);
  padding: 1rem 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 20px;
}

.pros-holder {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.each-pros {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pros-info {
  display: flex;
  flex-direction: column;
}

.pros-info > h3 {
  font-size: 14px;
}

.pros-info > h4 {
  font-size: 11px;
}

/* Footer Section --- */

.footer-parent {
  font-family: "Barlow Condensed", sans-serif;
  background-color: rgb(48, 31, 21);
  color: rgb(205, 196, 189);
  border: 1px solid rgb(219, 188, 160);
  padding: 3rem 5rem;
  width: 100%;
  display: flex;
}

.footer-links-holder {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer-links-holder > div {
  display: flex;
  flex-direction: column;
}

.footer-links-holder > div > h4 {
  font-weight: 500;
  margin-bottom: 5px;
}

.footer-links-holder > div > span {
  display: flex;
  align-items: center;
  gap: 3px;
  font-weight: 400;
  margin-bottom: 3px;
}

.footer-signUp-holder {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-signUp-holder > h4 {
  font-weight: 600;
  font-size: 17px;
}

.signUp-style {
  width: 100%;
}

.signUp-style > input {
  padding: 15px 8px;
  border: 1px solid rgb(111, 66, 56);
  border-radius: 0px;
  width: 70%;
}

.signUp-style > button {
  cursor: pointer;
  padding: 16px 6px;
  background-color: rgb(111, 66, 56);
  color: #f5f5f7;
  border: none;
  width: 30%;
}

.footer-media-links {
  display: flex;
  gap: 30px;
}

/* Features Section---- */
.features-parent {
  padding: 3rem 4rem;
  background-color: rgb(205, 196, 189);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 15px;
  grid-column-gap: 20px;
}

.features-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  border: 1px solid rgb(48, 31, 21);
  padding: 15px;
  border-radius: 6px;
}

.features-holder > h2 {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}

.features-holder > p {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.features-img {
  width: auto;
  height: auto;
}

.features-img > img {
  width: 100%;
  height: 100%;
  border-radius: 14px;
}

/* PurchasePage Section--- */

.navlink-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 20px;
}

#twin-nav-btn {
  display: flex;
  gap: 10px;
}

.all-back-btn {
  cursor: pointer;
  width: fit-content;
  padding: 8px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 400;
  color: rgb(219, 188, 160);
  background-color: rgb(48, 31, 21);
  border: none;
}

.navlinkBtn {
  text-decoration: none;
  color: rgb(219, 188, 160);
}

.loader-parent {
  background-color: rgb(219, 188, 160);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.loader-parent-ii {
  background: linear-gradient(135deg, rgb(48, 31, 21), rgb(219, 188, 160));
  margin: 0 auto;
  display: flex;
  align-items: start;
  padding-top: 120px;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

#feat-loader-parent-id {
  background-color: rgb(48, 31, 21);
  height: 20vh;
}

#wel-loader {
  align-items: center;
  background: transparent;
  justify-content: start;
}

.purchasePage-parent {
  background-color: rgb(219, 188, 160);
  color: rgb(48, 31, 21);
  padding: 2rem 5rem 4rem 5rem;
}

.purchasePage-parent > h3 {
  font-size: 1.5rem;
  margin-bottom: 35px;
  text-align: center;
  font-family: "Manrope", sans-serif;
}

.purchasePage-parent > ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  list-style: none;
}

.purchasePage-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.purchasePage-header > h1 {
  font-size: 4rem;
  margin-bottom: 35px;
  text-align: left;
  font-family: "Raleway", sans-serif;
}

.prod-img {
  width: 100%;
  height: 30vh;
}

.prod-img > img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.prod-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 10px;
  background-color: rgb(48, 31, 21);
  color: rgb(219, 188, 160);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.prod-info > p {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
}

.prodtitle-favBtn-holder {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prodtitle-favBtn-holder > h2 {
  font-size: 18px;
}

.prodtitle-favBtn-holder > span {
  cursor: pointer;
}

.prod-btn-holder {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.prod-btn-holder > button {
  cursor: pointer;
  border: 1px solid rgb(219, 188, 160);
  border-radius: 8px;
  background-color: rgb(48, 31, 21);
  color: rgb(219, 188, 160);
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
}

/* Purchase Detail Page Section---- */

.purchaseDetail-header {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.purchaseDetail-content {
  width: 100%;
  display: flex;
  gap: 60px;
}

.purchaseDetail-content-sideA {
  width: 50%;
}

.purchaseDetail-content-sideA > img {
  width: 100%;
  margin-bottom: 20px;
}

.purchaseDetailPage-parent {
  background-color: rgb(219, 188, 160);
  color: rgb(48, 31, 21);
  padding: 2rem 5rem 4rem 5rem;
}

.purchaseDetail-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}

.prod-desc {
  font-size: 18px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

.purchaseDetail-info > h3 {
  margin: 10px 0 0 20px;
  font-family: "Raleway", sans-serif;
  font-size: 25px;
}

.purchaseDetail-info > span {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  margin-top: 20px;
}

/* Contact Form Section --- */
.contact-parent {
  font-family: "Lato", sans-serif;
  background-color: rgb(205, 196, 189);
  color: #000000;
  min-height: 100vh;
  padding: 3rem 5rem;
}

.contact-header-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 50px;
}

.contact-header-text > h2 {
  font-weight: 600;
  font-size: 35px;
}

.contact-header-text > h4 {
  font-weight: 500;
  font-size: 20px;
}

.contact-info {
  width: 100%;
  display: flex;
  gap: 3rem;
}

.contact-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 0 0 5rem;
}

.contact-info > div > h3 {
  margin-bottom: 7px;
}

.contact-info > div > h4 {
  font-weight: 400;
  margin-bottom: 10px;
}

.contactNamesHolder {
  display: flex;
  justify-content: space-between;
}

.each-input-holder {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.each-input-holder > input {
  height: 30px;
  border-radius: 4px;
  padding: 10px;
  background-color: transparent;
  border: 1px solid #000000;
  outline-color: rgb(111, 66, 56);
  outline-width: 1px;
}

.each-input-holder > textarea {
  height: 120px;
  border-radius: 4px;
  padding: 10px;
  background-color: transparent;
  border: 1px solid #000000;
  outline-color: rgb(111, 66, 56);
}

.contact-form > button {
  cursor: pointer;
  padding: 8px;
  font-size: 18px;
  font-weight: 400;
  background-color: rgb(111, 66, 56);
  color: rgb(205, 196, 189);
  border: none;
  border-radius: 4px;
}

.customerCare-info-holder {
  width: 50%;
  padding: 20px 0;
}

.contact-headers {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.contact-headers > h3 {
  font-size: 20px;
  font-weight: 600;
}

.contact-headers > h4 {
  font-size: 14px;
  margin-bottom: 20px;
  font-weight: 400;
}

.contactUs-holder {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin: 0 0 20px 10px;
}

.contactUs-holder > span {
  display: flex;
  align-items: center;
  gap: 7px;
  text-decoration: underline;
  text-underline-offset: 3px;
  font-size: 15px;
}

#contact-btn-color {
  color: rgb(205, 196, 189);
}

/* TermsOfUse Section---- */

.termsOfUse-parent {
  background-color: #cdc4bd;
  color: rgb(48, 31, 21);
  padding: 3rem 5rem;
}

.termsOfUse-parent > h2 {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 15px;
  text-align: center;
}

.termsOfUse-parent > h3 {
  font-family: "Raleway", sans-serif;
  margin-bottom: 15px;
}

.terms-holder {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.termsOfUse-parent > h4 {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  margin: 40px 0 40px 40px;
  font-style: italic;
  font-weight: 400;
}

.each-terms-holder {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.each-terms-holder > h3 {
  font-family: "Lato", sans-serif;
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 3px;
}

.each-terms-holder > h4 {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 17px;
}

.mt-pg > p {
  margin-top: 8px;
}

.mt-pg {
  margin-bottom: 5px;
}

/* SignUp Section--- */

.SignUp-parent {
  background: linear-gradient(135deg, rgb(48, 31, 21), rgb(219, 188, 160));
  color: rgb(205, 196, 189);
  padding: 3rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

#SignUp-id {
  min-height: 100vh;
  padding: 3rem 5rem;
}

.productName {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: rgb(205, 196, 189);
  font-family: "Allan", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  margin-bottom: 40px;
}

.SignUp-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: rgb(205, 196, 189);
  margin: 15px 0;
}

.signUp-welcome-text > h1 {
  font-size: 40px;
  font-family: "Raleway", sans-serif;
}

.signUp-info-holder > p {
  margin: 10px 0;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
}

.signUp-info-holder > h2 {
  margin: 10px 0;
  font-size: 38px;
  font-family: "Raleway", sans-serif;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#input-group-id {
  display: flex;
  gap: 10px;
  font-family: "Raleway", sans-serif;
}

#input-group-id > label {
  font-size: 15px;
}

.input-group > label {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  color: white;
}

.input-group > input {
  padding: 10px;
  background: transparent;
  border: 1.5px solid rgb(48, 31, 21);
  border-radius: 8px;
  outline: none;
  color: #ffffff;
}

.link-style {
  cursor: pointer;
  color: rgb(38, 75, 143);
  font-weight: 700;
}

.validation-error {
  float: none;
  width: auto;
  padding: 0;
  line-height: 18px;
  white-space: normal;
  font-weight: normal;
  color: rgb(225, 17, 17);
  font-size: 15px;
  margin-top: 5px;
}

.login-button {
  cursor: pointer;
  padding: 10px 25px;
  background-color: rgb(48, 31, 21);
  color: rgb(219, 188, 160);
  border: 1px solid rgb(48, 31, 21);
  transition: 0.4s ease-in-out;
  border-radius: 4px;
}

/* WelcomePage Section--- */

.welcome-image-container {
  width: 100%;
  height: 30vh;
}

.welcome-image-container > img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.welcomePage-parent {
  background: linear-gradient(135deg, rgb(48, 31, 21), rgb(219, 188, 160));
  color: rgb(205, 196, 189);
  padding: 2rem 25rem 0rem 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.welcomePage-parent > p {
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  line-height: 25px;
}

.welcomePage-parent > div {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 25px;
}

/* Dialog Section ---- */
.dialog-text {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

/* User Profile Section--- */

.user-profile-parent {
  font-family: "Raleway", sans-serif;
  background-color: rgb(205, 196, 189);
  min-height: 100vh;
  padding: 3rem 1.5rem;
  width: 100%;
  display: flex;
}

.user-profile-info-part-i {
  width: 30%;
  border-right: 2px solid #000000;
}

.user-image-username-holder {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 2rem 0;
  border-bottom: 2px solid #000000;
}

.user-image-username-holder > h3 {
  font-size: 20px;
  font-weight: 700;
}

.user-info-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 2rem 0;
}

.user-info-section > span {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.user-info-section > span > h4 {
  font-size: 14px;
}

.user-info-section > span > p {
  font-size: 14px;
  font-weight: 400;
}

.user-info-btn {
  cursor: pointer;
  padding: 8px 6px;
  background-color: rgb(111, 66, 56);
  color: rgb(205, 196, 189);
  border: none;
  border-radius: 4px;
  width: fit-content;
}

.user-profile-info-part-ii {
  width: 70%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.completion-holder {
  display: flex;
  gap: 20px;
  width: 100%;
}

.percentage-holder {
  background: linear-gradient(670deg, rgb(48, 31, 21), rgb(219, 188, 160));
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: none;
  border-radius: 4px;
  padding: 0.8rem 1.5rem;
  width: 50%;
}

.percentage-holder > span {
  font-size: 17px;
  font-weight: 700;
  border: 1px solid #000000;
  padding: 10px;
  border-radius: 8px;
  width: fit-content;
}

.percentage-holder > p {
  font-size: 20px;
  font-weight: 700;
}

.user-notice {
  background: linear-gradient(670deg, rgb(48, 31, 21), rgb(219, 188, 160));
  border: none;
  border-radius: 4px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.user-notice > p {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
}

.user-notice > h3 {
  font-size: 20px;
  font-weight: 700;
}

.status-dateCreated-holder {
  display: flex;
  gap: 6rem;
}

.status-dateCreated-holder > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.status-dateCreated-holder > div > span {
  font-size: 12px;
  font-weight: 400;
}

.status-dateCreated-holder > div > p {
  font-size: 15px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Modal Style Section--- */

.modal-modal-title {
  font-family: "Lato", sans-serif;
}

#modal-modal-title-id {
  font-size: 12px;
  font-weight: 300;
}

.modal-button {
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  background-color: rgb(111, 66, 56);
  color: rgb(205, 196, 189);
  font-size: 16px;
}

#child-modal-title {
  margin-bottom: 10px;
}

.child-modal-description {
  margin-bottom: 8px;
}

/* Media Queries--- */

@media screen and (max-width: 1250px) {
  .features-parent {
    grid-template-columns: repeat(3, 1fr);
  }
  .purchasePage-parent > ul {
    grid-template-columns: repeat(3, 1fr);
  }

  .chooseCoffee-parent {
    flex-direction: column;
  }

  .chooseCoffee-textHolder {
    width: 100%;
    gap: 20px;
  }

  .chooseCoffee-video-container {
    width: 100%;
    margin: 0 auto;
  }

  .welcomePage-parent {
    padding: 2rem 20rem;
  }
  .summary-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .summary-list-item > img {
    width: 100%;
  }

  .contactNamesHolder {
    flex-direction: column;
    gap: 15px;
  }

  .contact-form {
    padding: 0 0;
  }
}

@media screen and (max-width: 950px) {
  .nav-links {
    display: none;
  }

  .root-nav.show {
    display: flex !important;
  }

  .hamburger-menu {
    display: block;
  }

  .dropdown-menu {
    animation: slideFromLeft 0.7s ease-in-out;
  }

  .hero-section {
    padding: 2rem;
  }

  .hero-text {
    padding-left: 2rem;
  }

  .discover-image-container {
    display: none;
  }

  .discover-textInfo {
    width: 100%;
  }

  .features-parent {
    grid-template-columns: repeat(2, 1fr);
  }

  .purchasePage-parent > ul {
    grid-template-columns: repeat(2, 1fr);
  }

  .purchaseDetail-content {
    gap: 40px;
  }
  .featuredProduct-container {
    padding: 3rem 2rem;
  }

  .featured-products-list {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 15px;
  }

  .welcomePage-parent {
    padding: 2rem 12rem;
  }

  .summary-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .checkout-form-parent {
    padding: 2rem 3rem 4rem 3rem;
  }
  .payment-status-parent {
    padding: 2rem 1rem 4rem 1rem;
  }

  .pros-parent {
    padding: 1rem 3rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-parent {
    padding: 3rem 3rem;
  }
  .footer-links-holder {
    grid-template-columns: repeat(2, 1fr);
  }

  .status-dateCreated-holder {
    flex-direction: column;
    gap: 20px;
  }

  .user-image-username-holder {
    flex-direction: column;
  }

  .percentage-holder {
    padding: 0.8rem;
  }

  .user-notice {
    padding: 3rem 1rem;
  }
}

@media screen and (max-width: 850px) {
  .purchasePage-parent {
    padding: 2rem 2rem 4rem 2rem;
  }
  .purchaseDetailPage-parent {
    padding: 2rem 2rem 4rem 2rem;
  }
  .purchasePage-header > h1 {
    font-size: 2.5rem;
  }
  .purchaseDetail-content {
    gap: 30px;
  }
  .welcomePage-parent {
    padding: 2rem 8rem;
  }

  .cart-parent {
    padding: 2rem 2rem 5rem 2rem;
  }
  .cart-list div > h3 {
    font-size: 17px;
  }
  .cart-list {
    grid-template-columns: 40% 12% 5% 17% 5%;
  }
  .cart-summary-parent {
    padding: 3rem 2rem;
  }
  .checkout-form-parent {
    padding: 2rem 2rem 4rem 2rem;
  }
  .pros-parent {
    padding: 1rem 2rem;
  }

  .footer-parent {
    padding: 3rem 2rem;
    flex-direction: column;
    gap: 20px;
  }

  .footer-links-holder {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    margin-bottom: 20px;
  }
  .footer-signUp-holder {
    width: 100%;
    gap: 20px;
  }

  .footer-media-links {
    width: 100%;
  }

  .contact-parent {
    padding: 3rem 2rem;
  }

  .user-profile-parent {
    flex-direction: column;
  }

  .user-profile-info-part-i {
    width: 100%;
    border-right: none;
  }

  .user-profile-info-part-ii {
    width: 100%;
    padding: 2rem 0;
  }
}

@media screen and (max-width: 750px) {
  .hero-section {
    padding: 2rem 1rem 2rem 1rem;
  }

  .hero-text > h2 {
    font-size: 30px;
  }

  .hero-text > h3 {
    font-size: 18px;
  }
  .hero-text {
    padding-left: 1rem;
  }

  .discover-parent {
    padding: 3rem 2rem;
  }

  #discoverInfo-id {
    padding: 3rem 2rem;
  }

  .features-parent {
    grid-template-columns: repeat(1, 1fr);
    padding: 3rem 2rem;
  }

  .purchasePage-parent > ul {
    grid-template-columns: repeat(1, 1fr);
  }

  .prod-img {
    height: auto;
  }

  .purchasePage-parent {
    padding: 2rem 1rem 4rem 1rem;
  }
  .purchaseDetailPage-parent {
    padding: 2rem 1rem 4rem 1rem;
  }

  .purchaseDetail-content {
    flex-direction: column;
  }

  .purchaseDetail-content-sideA {
    width: 100%;
  }
  .purchaseDetail-info {
    width: 100%;
    padding: 15px;
    font-size: 20px;
  }
  .prod-desc {
    font-size: 22px;
  }

  .chooseCoffee-parent {
    padding: 3rem 2rem;
  }

  .termsOfUse-parent {
    padding: 3rem 2rem;
  }

  .SignUp-parent {
    padding: 3rem 2rem;
  }

  #SignUp-id {
    padding: 6rem 2rem 3rem 2rem;
  }

  .welcomePage-parent {
    padding: 2rem 4rem;
  }
  .cart-parent {
    padding: 2rem 1rem 5rem 1rem;
  }
  .checkout-form-parent {
    padding: 2rem 1rem 4rem 1rem;
  }
  .pros-parent {
    grid-template-columns: repeat(1, 1fr);
  }
  .contact-info {
    flex-direction: column;
  }
  .contact-form {
    width: 70%;
  }
  .customerCare-info-holder {
    width: 70%;
  }
}

@media screen and (max-width: 650px) {
  .hero-text > h2 {
    font-size: 25px;
  }

  .hero-text > h3 {
    font-size: 13px;
    font-weight: 400;
  }
  #discoverInfo-id {
    padding: 3rem 1rem;
  }
  .discover-parent {
    padding: 3rem 1rem;
  }
  .features-parent {
    padding: 3rem 1rem;
  }
  .chooseCoffee-parent {
    padding: 3rem 1rem;
  }

  .featured-products-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .featuredProduct-container {
    padding: 3rem 1rem;
  }
  .termsOfUse-parent {
    padding: 3rem 1rem;
  }
  .SignUp-parent {
    padding: 3rem 1rem;
  }
  #SignUp-id {
    padding: 6rem 1rem 3rem 1rem;
  }

  .welcomePage-parent {
    padding: 2rem 2rem;
  }
  .cart-list {
    grid-template-columns: 38% 14% 6% 18% 5%;
  }
  .cart-list div > h3 {
    font-size: 15px;
  }
  .cart-list > h4 {
    font-size: 12px;
  }
  .summary-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .summary-list-item > img {
    width: 100%;
    height: 30vh;
    object-fit: fill;
  }
  .checkout-form {
    width: 100%;
  }
  .success-alert-box {
    width: 100%;
  }

  .pros-parent {
    padding: 1rem;
  }

  .footer-links-holder {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-parent {
    padding: 3rem 1rem;
  }
  .contact-parent {
    padding: 3rem 1rem;
  }
  .contact-form {
    width: 85%;
  }
  .customerCare-info-holder {
    width: 85%;
  }
  .user-profile-parent {
    padding: 3rem 1rem;
  }
}

@media screen and (max-width: 550px) {
  .hero-text > h2 {
    font-size: 20px;
  }

  .hero-text > h3 {
    font-size: 11px;
    font-weight: 400;
  }

  .welcomePage-parent {
    padding: 2rem 1rem;
  }
  .contact-form {
    width: 100%;
  }
  .customerCare-info-holder {
    width: 100%;
  }
}
