@import url("https://fonts.googleapis.com/css2?family=Allan:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

.navbar {
  display: flex;
  padding: 2rem 5rem 1rem 5rem;
  justify-content: space-between;
  background-color: rgb(48, 31, 21);
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.navbar > p {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  color: rgb(205, 196, 189);
  font-family: "Allan", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
}

.navbar > div {
  display: flex;
  align-items: center;
  border-radius: 7px;
}

.navDiv > span {
    border-radius: 7px;
}

.nav-btn-holder {
  display: flex;
  gap: 10px;
}

.nav-btn-holder > span {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: rgb(205, 196, 189);
  border: 1.5px solid rgb(205, 196, 189);
  padding: 8px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
}

  @media screen and (max-width: 1000px) {
    .navbar {
        padding: 2rem 2rem 1rem 2rem;
  }
}

  @media screen and (max-width: 950px) {
    .nav-btn-holder  {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    .navbar {
        padding: 2rem 2rem 1rem 2rem;
  }
}